<div class="row">
<div class="col-md-12">
<div class="panel panel-default">
    <div class="panel-heading">
    <strong><span class="panel-title">Mystery of Dungeons Shop</span></strong><br>
    <span class="panel-title">Your gold: <strong>{{user.gold}}</strong></span> <img src="/img/gold.png"><br>       
    </div>
    <div class="panel-body">
        <div class="text-center">
        <img src="/img/torch.gif" style="height: 45px">
            <span style="font-family: 'Inconsolata'; font-size: 20px">
                 Market Categories</span>
                 <img src="/img/torch.gif" style="height: 45px">   
        </div>             
        <div class="row" style="text-align: center">

    <div class="col-md-3">
        <a href="/market/strength"><span style="font-size: 50px"><img src="/img/market/str.png"></span>
        </a><br>
        Strength
    </div>

    <div class="col-md-3">
        <a href="/market/dexterity"><span style="font-size: 50px"><img src="/img/market/dex.png"></span>
        </a><br>
        Dexterity
    </div>

    <div class="col-md-3">
        <a href="/market/vitality"><span style="font-size: 50px"><img src="/img/market/vit.png"></span>
        </a><br>
        Vitality
    </div>

    <div class="col-md-3">
        <a href="/market/intellect"><span style="font-size: 50px"><img src="/img/market/intel.png"></span>
        </a><br>
        Intellect
    </div>    

    <div class="col-md-3">
        <a href="/market/potions"><span style="font-size: 50px"><img src="/img/market/health.png"></span>
        </a><br>
        Special
    </div>  
    </div>
    </div>
</div>
    
</div>

