<div class="modal hide fade" id="first-blood" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

            <div class="modal-body achievement-body text-center">
                    <h6 id="title-of-page">New Achievement</h6>
                    <article>
                        <p style="font-size: 15px; font-weight: 600">First Blood</p>
                        <p>Mystery of Dungeons community congratulates you with the first win! This 
                            is your first achievement in the game. Go on with your journey and
                            complete new achievements!<br><br>
                            <small>Reward: <img src="/img/gold.png" style="height: 11px">100 Experience: 100</small>
                        </p>
                    </article>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal hide fade" id="ten-fights" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
    
                <div class="modal-body achievement-body text-center">
                        <h6 id="title-of-page">New Achievement</h6>
                        <article>
                            <p style="font-size: 15px; font-weight: 600">Win 10 Fights</p>
                            <p>You just won 10 fights and unlocked new achievement.<br><br>
                                <small>Reward: <img src="/img/gold.png" style="height: 11px">100 Experience: 100</small>
                            </p>
                        </article>
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal hide fade" id="twenty-fights" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
        
                    <div class="modal-body achievement-body text-center">
                            <h6 id="title-of-page">New Achievement</h6>
                            <article>
                                <p style="font-size: 15px; font-weight: 600">Win 20 Fights</p>
                                <p>You just won 20 fights and unlocked new achievement.<br><br>
                                    <small>Reward: <img src="/img/gold.png" style="height: 11px">200 Experience: 200</small>
                                </p>
                            </article>
                            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal hide fade" id="thirty-fights" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
            
                        <div class="modal-body achievement-body text-center">
                                <h6 id="title-of-page">New Achievement</h6>
                                <article>
                                    <p style="font-size: 15px; font-weight: 600">Win 30 Fights</p>
                                    <p>You just won 30 fights and unlocked new achievement.<br><br>
                                        <small>Reward: <img src="/img/gold.png" style="height: 11px">300 Experience: 300</small>
                                    </p>
                                </article>
                                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="modal hide fade" id="fourty-fights" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                
                            <div class="modal-body achievement-body text-center">
                                    <h6 id="title-of-page">New Achievement</h6>
                                    <article>
                                        <p style="font-size: 15px; font-weight: 600">Win 40 Fights</p>
                                        <p>You just won 40 fights and unlocked new achievement.<br><br>
                                            <small>Reward: <img src="/img/gold.png" style="height: 11px">400 Experience: 400</small>
                                        </p>
                                    </article>
                                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="modal hide fade" id="fifty-fights" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                    
                                <div class="modal-body achievement-body text-center">
                                        <h6 id="title-of-page">New Achievement</h6>
                                        <article>
                                            <p style="font-size: 15px; font-weight: 600">Win 50 Fights</p>
                                            <p>You just won 50 fights and unlocked new achievement.<br><br>
                                                <small>Reward: <img src="/img/gold.png" style="height: 11px">500 Experience: 500</small>
                                            </p>
                                        </article>
                                        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>


                          <div class="modal hide fade" id="hundred-fights" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                        
                                    <div class="modal-body achievement-body text-center">
                                            <h6 id="title-of-page">New Achievement</h6>
                                            <article>
                                                <p style="font-size: 15px; font-weight: 600">Win 100 Fights</p>
                                                <p>You just won 100 fights and unlocked new achievement.<br><br>
                                                    <small>Reward: <img src="/img/gold.png" style="height: 11px">1000 Experience: 1000</small>
                                                </p>
                                            </article>
                                            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="modal hide fade" id="richer-than-ever" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                        
                                    <div class="modal-body achievement-body text-center">
                                            <h6 id="title-of-page">New Achievement</h6>
                                            <article>
                                                <p style="font-size: 15px; font-weight: 600">Richer Than Ever</p>
                                                <p>You just sold an item for 500 or more gold and unlocked new achievement.<br><br>
                                                    <small>Reward: <img src="/img/gold.png" style="height: 11px">100 Experience: 100</small>
                                                </p>
                                            </article>
                                            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="modal hide fade" id="level-ten" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                          
                                      <div class="modal-body achievement-body text-center">
                                              <h6 id="title-of-page">New Achievement</h6>
                                              <article>
                                                  <p style="font-size: 15px; font-weight: 600">Reach Level 10</p>
                                                  <p>You just reached level 10 and unlocked new achievement.<br><br>
                                                      <small>Reward: <img src="/img/gold.png" style="height: 11px">100 Experience: 100</small>
                                                  </p>
                                              </article>
                                              <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="modal hide fade" id="level-twenty" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                            
                                        <div class="modal-body achievement-body text-center">
                                                <h6 id="title-of-page">New Achievement</h6>
                                                <article>
                                                    <p style="font-size: 15px; font-weight: 600">Reach Level 20</p>
                                                    <p>You just reached level 20 and unlocked new achievement.<br><br>
                                                        <small>Reward: <img src="/img/gold.png" style="height: 11px">200 Experience: 200</small>
                                                    </p>
                                                </article>
                                                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div> 
                                  
                                  <div class="modal hide fade" id="level-thirty" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                              
                                          <div class="modal-body achievement-body text-center">
                                                  <h6 id="title-of-page">New Achievement</h6>
                                                  <article>
                                                      <p style="font-size: 15px; font-weight: 600">Reach Level 30</p>
                                                      <p>You just reached level 30 and unlocked new achievement.<br><br>
                                                          <small>Reward: <img src="/img/gold.png" style="height: 11px">300 Experience: 300</small>
                                                      </p>
                                                  </article>
                                                  <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>            
                                    <div class="modal hide fade" id="level-fourty" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                
                                            <div class="modal-body achievement-body text-center">
                                                    <h6 id="title-of-page">New Achievement</h6>
                                                    <article>
                                                        <p style="font-size: 15px; font-weight: 600">Reach Level 40</p>
                                                        <p>You just reached level 40 and unlocked new achievement.<br><br>
                                                            <small>Reward: <img src="/img/gold.png" style="height: 11px">400 Experience: 400</small>
                                                        </p>
                                                    </article>
                                                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="modal hide fade" id="level-fifty" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                  
                                              <div class="modal-body achievement-body text-center">
                                                      <h6 id="title-of-page">New Achievement</h6>
                                                      <article>
                                                          <p style="font-size: 15px; font-weight: 600">Reach Level 50</p>
                                                          <p>You just reached level 50 and unlocked new achievement.<br><br>
                                                              <small>Reward: <img src="/img/gold.png" style="height: 11px">500 Experience: 500</small>
                                                          </p>
                                                      </article>
                                                      <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>                                      

                                        <div class="modal hide fade" id="level-hundred" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                    
                                                <div class="modal-body achievement-body text-center">
                                                        <h6 id="title-of-page">New Achievement</h6>
                                                        <article>
                                                            <p style="font-size: 15px; font-weight: 600">Reach Level 100</p>
                                                            <p>You just reached level 100 and unlocked new achievement.<br><br>
                                                                <small>Reward: <img src="/img/gold.png" style="height: 11px">1000 Experience: 1000</small>
                                                            </p>
                                                        </article>
                                                        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>                                        