<div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
            <strong><span class="panel-title">Mystery of Dungeons News</span></strong>
            </div>
        <div class="panel-body">
        
        <div class="text-center">
            <img src="/img/torch.gif" style="height: 45px"><span style="font-family: 'Inconsolata'; font-size: 20px">Mystery of Dungeons</span><img src="/img/torch.gif" style="height: 45px">
        </div>
        <article>
                <h1>Welcome stranger! <br><small>2018-10-11 13:56</small></h1>
                <p>
                   This is it. There's no way back now your only chance to survive in this dungeon 
                   is to prove everyone else that you're the best and everyone else is weak compared to you. 
                   <br><br>
                   To make things easier for you I'll explain how this game works depending on your race (Ranged, Magic or Melee).
                   <br><br>
                    If you joined Ranged race then just remember that your Dexterity and your Strength is the first skills you need to master.<br>
                    If you joined Magic race then just remember that your Intellect and Dexterity is the first skills you need to master.<br>
                    If you joined Melee race then just remember that your Strength and Dexterity is the first skills you need to master.<br>
                    Sound quite easy, right?<br>
                    Then don't forget about Vitality this skill let's you survive longer in fight which means you get less damage from the enemy.
                    <br><br>
                    You probably want to know what can you do with your gold... Well in the top you can see a navigation and the word "Market"
                    in there you can buy items which upgrade your abilities. Also at the last spot in the market you can see a category 
                    called "Special" these items are made for you if you need to restore your health after fight. You cannot use them during fight.
                    <br><br>
                    Now let's talk a little bit about arena. You can join arena by clicking "Arena" button in your "Character Information" panel or
                    in navigation. All players in the arena are shuffled everytime you go there so there's less chance that you will fight the same players
                    all over again. If you win the fight you'll get gold and experience to level up. On every level up you'll get 10 upgrade points.
                    You already have them if you didn't spent them in your "Character Information" panel.
                    <br><br>
                    Everything else you'll understand while exploring this dungeon. I can only wish you luck and to not loose motivation to be the best!
                    <br><br>
                    - Inventor of the Mysterious Dungeons
                </p>
            </article>        
        </div>
        </div>
</div>