<div class="row">
        <div class="col-md-8">
                 <div class="panel panel-default">
                    <div class="panel-heading">
                    <strong><span class="panel-title">Alliances Leaderboard</span></strong>
                    </div>
                <div class="panel-body">
                    
                <div class="text-center">
                    <img src="/img/torch.gif" style="height: 45px"><span style="font-family: 'Inconsolata'; font-size: 20px">Alliances Leaderboard</span><img src="/img/torch.gif" style="height: 45px">
                </div> 
                
        
                <ol class="text-center">
                  {{#each alliances}}
                  <li>
                      <strong>{{this.title}} | </strong>
                      Experience: {{this.expCount}}
                      Members: {{allymembers.length}}
                      Bank: {{this.bank}}
                  </li>
                  {{/each}}
                </ol>
                      
        </div>
        </div>
        </div>
        {{> userInterface}}
        </div>
