{{#if (eq user.first_login 0)}}
          <!-- Modal -->
      <div class="modal fade" id="tutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Introduction</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
                    <h6 id="title-of-page">Mystery of Dungeons</h6>
                    <article>
                        <p>Welcome to the Mystery of Dungeons in this short tutorial
                            we will explain to you how the game works. So just click <strong>next</strong>
                            and dive in!
                            <span hidden id="tutUserId">{{user._id}}</span>
                        </p>
                    </article>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#demo-2" data-dismiss="modal">Next 1/6</button>
              <button type="button" class="btn btn-dark" data-dismiss="modal">Skip Tutorial</button>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="demo-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Your Type</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-center">
                        <h6>Your Character Type </h6>
                        <article>
                            {{#if (eq user.type "Magic")}}
                            <p>
                                Since you decided to join Magic type players the main focus
                                should be spent on <img src="/img/market/intel.png" style="height: 16px; margin-top: -2px"> <strong>intellect</strong>
                                and in the second place you should focus on <img src="/img/market/dex.png" style="height: 16px; margin-top: -2px"> <strong>dexterity</strong>.
                                <br>
                                In the long run don't forget about <img src="/img/market/vit.png" style="height: 16px; margin-top: -2px"> <strong>vitality</strong>
                                it helps to defend yourself better from enemy attacks.
                            </p>
                            {{/if}}
                            {{#if (eq user.type "Melee")}}
                            <p>
                                Since you decided to join Melee type players the main focus
                                should be spent on <img src="/img/market/str.png" style="height: 16px; margin-top: -2px"> <strong>strength</strong>
                                and in the second place you should focus on <img src="/img/market/dex.png" style="height: 16px; margin-top: -2px"> <strong>dexterity</strong>.
                                <br>
                                In the long run don't forget about <img src="/img/market/vit.png" style="height: 16px; margin-top: -2px"> <strong>vitality</strong>
                                it helps to defend yourself better from enemy attacks.
                            </p>
                            {{/if}}   
                            {{#if (eq user.type "Ranged")}}
                            <p>
                                Since you decided to join Melee type players the main focus
                                should be spent on <img src="/img/market/dex.png" style="height: 16px; margin-top: -2px"> <strong>dexterity</strong>
                                and in the second place you should focus on <img src="/img/market/dex.png" style="height: 16px; margin-top: -2px"> <strong>strength</strong>.
                                <br>
                                In the long run don't forget about <img src="/img/market/vit.png" style="height: 16px; margin-top: -2px"> <strong>vitality</strong>
                                it helps to defend yourself better from enemy attacks.
                            </p>
                            {{/if}}                                                       
                        </article>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#demo-3" data-dismiss="modal">Next 2/6</button>
                  <button type="button" class="btn btn-dark" data-dismiss="modal">Skip Tutorial</button>
                </div>
              </div>
            </div>
          </div>



          <div class="modal fade" id="demo-3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Market</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-center">
                            <h6>Market</h6>
                            <article>
                                <p>Market has four main categories made to upgrade your character:
                                        <img src="/img/market/str.png" style="height: 28px; margin-top: -2px">
                                        <img src="/img/market/dex.png" style="height: 28px; margin-top: -2px">
                                        <img src="/img/market/vit.png" style="height: 28px; margin-top: -2px">
                                        <img src="/img/market/intel.png" style="height: 28px; margin-top: -2px">
                                        <br>
                                  And one category to buy food and other special items:
                                  <img src="/img/market/health.png" style="height: 28px; margin-top: -2px">

                                </p>
                            </article>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#demo-4" data-dismiss="modal">Next 3/6</button>
                      <button type="button" class="btn btn-dark" data-dismiss="modal">Skip Tutorial</button>
                    </div>
                  </div>
                </div>
              </div>



              <div class="modal fade" id="demo-4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Items</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body text-center">
                                <h6>Items</h6>
                                <img src="/img/market/strength/Suspension.png" alt="">
                                <img src="/img/market/dexterity/mirage.png" alt="">
                                <img src="/img/market/intellect/reckoning.png" alt="">
                                <article>
                                    <p>
                                        Everytime you buy items from the shop except <strong>special</strong> items
                                        your skill increase more and more. Power of bought items indicates green values
                                        next to your skills like this <br>
                                        <img src="/img/stats.png">
                                        Maximum power of items is 100.
                                    </p>
                                </article>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#demo-5" data-dismiss="modal">Next 4/6</button>
                          <button type="button" class="btn btn-dark" data-dismiss="modal">Skip Tutorial</button>
                        </div>
                      </div>
                    </div>
                  </div>
    

                  <div class="modal fade" id="demo-5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Special Items</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body text-center">
                                    <h6><img src="/img/market/health.png" style="height: 28px; margin-top: -2px">
                                        Special Items</h6>
                                        <img src="/img/market/potions/pineapple.png" alt="">
                                        <img src="/img/market/potions/big.png" alt="">
                                        <img src="/img/market/potions/silvercross.png" alt="">
                                    <article>
                                        <p>
                                            What exactly the <strong>special</strong> items gives to you. Well if you
                                            want to heal yourself after escaped fight or after lost fight you can buy 
                                            food from that shop. If you click on item the power of it will be displayed. 
                                            Power indicates how many health points it restore.
                                            <br>
                                            Usage of these items are really simple just click on it in your inventory and
                                            if your health is less than 100 you can eat them.
                                        </p>
                                    </article>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#demo-6" data-dismiss="modal">Next 5/6</button>
                              <button type="button" class="btn btn-dark" data-dismiss="modal">Skip Tutorial</button>
                            </div>
                          </div>
                        </div>
                      </div>



                      <div class="modal fade" id="demo-6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Arena</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body text-center">
                                        <h6>Arena</h6>
                                        <article>
                                            <p>
                                              To fight in the <strong>arena</strong> there is only one requirement:
                                              Your HP has to be more than zero. There are times when you run out of gold
                                              and you don't have enough food to revive yourself so then you can click
                                              <strong>REVIVE</strong> button which is placed under your <strong>Character</strong>
                                              panel.
                                              <br>
                                              To fight in the <strong>arena</strong> simply click the button in the top navigation bar
                                              or click the button in your <strong>Character</strong> panel. 
                                            </p>
                                        </article>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-danger" data-dismiss="modal" data-target="#demo-6" data-dismiss="modal" id="finishButton">Finish 6/6</button>
                                  <button type="button" class="btn btn-dark" data-dismiss="modal">Skip Tutorial</button>
                                </div>
                              </div>
                            </div>
                          </div>


      <script type="text/javascript">
        $(window).on('load',function(){
            $('#tutModal').modal('show');
        });
        var userId = $('#tutUserId').text();
        $("#finishButton").on('click', () => {
            socket.emit('tutFinish', {
                userId: userId
            });
        });
    </script>

{{/if}}

<div class="row">

  {{#if userQuest}}
{{userQuest.title}}
  {{/if}}
{{> userInterface}}

<div class="col-md-4">
        <div class="panel panel-default">
                <div class="panel-heading">
                  <strong><span class="panel-title">Revive</span></strong>
                </div>
                    <div class="panel-body text-center">
                      <div class="revive-body">
                        <p class="float-right" style="margin-right: 70px">Reset HP</p>
                        <div id="reviveInfo">
                                {{#if (eq revive.count 3)}}
                                You reached the maximum limit of revives.
                                {{else}}
                     <a href="/revive/{{user._id}}" class="revive"><img src="/img/heart.png" alt=""></a>   
                            {{/if}}
                    </div>
                     <p style="float: right; margin-top: -28%;">Count: 
                         <span id="reviveCount">
                             {{#if revive.count}}
                             Reset on: {{revive.expire_at}}
                             {{revive.count}}
                             {{else}}
                             0
                             {{/if}}
                        </span>/ 3<br><br>
                        Revives resets every hour. 
                    </p>
                    </div>
                    </div>
                </div>


                <div class="panel panel-default">
                        <div class="panel-heading">
                          <strong><span class="panel-title">Latest Battles</span></strong>
                        </div>
                            <div class="panel-body text-center latest-battles">
                                    <div class="col-md-6 float-right">
                                            <p><strong>Won</strong></p>
                                        <ul class="list-unstyled">
                                {{#each userFights}}
                                        <li>
                                    <a href="/character/{{this.enemyname}}" class="user-link">{{this.enemyname}}</a><br><small>{{this.createdAt}}</small>
                                        </li>
                                {{/each}}
                                        </ul>
                                    </div>

                                    <div class="col-md-6">
                                            <p><strong>Lost</strong></p>
                                        <ul class="list-unstyled">
                                {{#each userLostFights}}
                                        <li>
                                    <a href="/character/{{this.enemyname}}" class="user-link">{{this.enemyname}}</a><br><small>{{this.createdAt}}</small>
                                       </li>
                                {{/each}}
                                       </ul>
                                     </div>
                            </div>
                        </div>

</div>

<div class="col-md-4">

        <div class="panel panel-default">
                <div class="panel-heading">
                  <strong><span class="panel-title">Live Chatroom</span></strong>
                </div>
                    <div class="panel-body chatroom">
                        {{#each messages}}
                        <small>{{this.createdAt}} <strong><a href="/character/{{this.username}}" class="user-link">
                          {{#if alliance}}
                            {{#each alliance}}
                             <span style="color: red">[</span><span style="color: white">{{this.ally_title}}</span><span style="color: red">]</span>
                            {{/each}}
                          {{/if}}
                           {{#if (eq this.username "Phasmastis")}}
                            <span><img src="/img/crown.png" id="crown">{{this.username}}</span>
                           {{else}}
                           <span class="username-live">
                           {{this.username}}
                           </span>
                           {{/if}}
                        </a></strong> {{this.message}}</small><br>
                        {{/each}}
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" id="message">
                        <span class="input-group-btn" style="height: 0px">
                            <button class="btn btn-default" type="button" id="sent-btn">Send</button>
                        </span>
                    </div>          
            </div>

</div>

<script src="/js/revive.js"></script>