<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">var socket = io();</script>
    <title>Mystery Of Dungeons</title>
</head>
<body>
    <div class="container" style="text-align: center; margin-top: 10%;">
            <img style="height: 150px" src="https://vignette.wikia.nocookie.net/2007scape/images/b/bb/Dungeon_entrance_built.png/revision/latest?cb=20180311080308" alt="">
            <p style="color: white">Entrance to Mystery Of Dungeons</p>    
            <form class="col-4" id="login-form" method="POST" action="/login" style="margin: 0 auto;">
                {{#if errMsg}}
                <div class="alert alert-danger">
                    <p>{{errMsg}}</p>
                </div>  
                {{/if}}              
              <div class="form-group">
                <input type="text" class="form-control" name="username" id="username" placeholder="Username">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-dark"><span style="color: black"><i class="fas fa-check"></i> PLAY</span></button>
              <a href="/signup" class="btn btn-dark"><span style="color: black"><i class="fas fa-user"></i> JOIN</span></a>
            </form>   
    </div>
</body>
</html>

<script type="text/javascript">
  
$( "#login-form" ).submit(function() {
    socket.emit('login', {
        username: $("#username").val()
    });
});
</script>