<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong><span class="panel-title">Members requests</strong>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    {{#if (eq members.length 0)}}
                        <p>There are no new members requests at the moment.</p>
                    {{else}}
                    {{#each members}}
                        {{#each users}}
                    <img src="/img/chars/{{this.skin}}.png" style="height: 35px" alt=""> <a href="/character/{{this.username}}" class="user-link">{{this.username}}</a> Type: {{this.type}} Level: {{this.level}} Experience: {{this.current_exp}}
                    <a href="/accept-user-to-alliance/{{this.username}}" class="btn btn-success">Accept</a>
                    <a href="/decline-user-request-to-alliance/{{this.username}}" class="btn btn-warning">Decline</a>
                    <br>
                        {{/each}}
                    {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>