<div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong><span class="panel-title">Alliance Boss Fight</strong>
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        
                      <a href="/alliance-boss-fight-one">fight</a>
                    </div>
                </div>
            </div>
        </div>
    </div>