<div class="row">
        <div class="col-md-12">
                 <div class="panel panel-default">
                    <div class="panel-heading">
                    <strong><span class="panel-title">Create New Alliance</span></strong>
                    </div>
                <div class="panel-body" style="overflow: hidden">
                    {{#if msg}}
                    <div class="alert alert-success" role="alert">
                            {{msg}}
                    </div>                        
                    {{/if}}

                    {{#if errmsg}}
                    <div class="alert alert-danger" role="alert">
                            {{errmsg}}
                    </div>                        
                    {{/if}}                    
                <div class="text-center">
                    <img src="/img/torch.gif" style="height: 45px"><span style="font-family: 'Inconsolata'; font-size: 20px">Alliance</span><img src="/img/torch.gif" style="height: 45px">
                    
                    <form style="margin: 0 auto" class="form-group col-md-6" action="/create-alliance" method="POST">
                        <small><strong>Reminder: </strong> You can only create one alliance. If you delete your alliance then
                        you can create new one again.</small>
                        <p>All fields are required.</p>
                        <input type="text" class="form-control" name="title" id="title" placeholder="Alliance Title">
                        <i>Minimum length of title: 3</i><br>
                        <i>Maximum length of title: 10</i><br>
                        <textarea name="description" id="description" class="form-control" cols="50" rows="5" placeholder="Alliance description, rules etc."></textarea>
                        <button type="submit" class="btn btn-danger">⚔️ Create Alliance</button>
                    </form>
                    
                </div> 

                </div>
        </div>
</div>